# Capturing groups

In [6]:
#import
import re

### Group characters

In [9]:
text="Clary has 2 friends who she spends a lot time with. Susan has 3 brothers while Jhon has 4 sister"
re.findall(r'[A-Za-z]+\s\w+\s\d+\s\w+', text)

['Clary has 2 friends', 'Susan has 3 brothers', 'Jhon has 4 sister']

### Capturing groups

In [10]:
text="Clary has 2 friends who she spends a lot time with. Susan has 3 brothers while Jhon has 4 sister"
re.findall(r'([A-Za-z]+)\s\w+\s\d+\s\w+', text)

['Clary', 'Susan', 'Jhon']

In [11]:
re.findall(r'([A-Za-z]+)\s\w+\s(\d+)\s(\w+)', text)

[('Clary', '2', 'friends'),
 ('Susan', '3', 'brothers'),
 ('Jhon', '4', 'sister')]

In [13]:
pets = re.findall(r'([A-Za-z]+)\s\w+\s(\d+)\s(\w+)',"Clary has 2 dogs but John has 3 cats")
pets

[('Clary', '2', 'dogs'), ('John', '3', 'cats')]

In [14]:
pets[0][0]

'Clary'

In [15]:
#Apply a quantier to the entire group
re.search(r"(\d[A-Za-z])+","My user name is 3e4r5fg")

#### Capture a repeated group (\d+) vs. repeat a capturing group (\d)+

In [35]:
#   (\d)+
my_string = "My lucky numbers are 8755 and 33 "
re.findall(r"(\d)+", my_string)

['5', '3']

In [42]:
#   (\d+)

re.findall(r"(\d+)", my_string)

['8755', '22', '22', '33']

## Exercise

### Try another name

In [62]:
sentiment_analysis=['Just got ur newsletter, those fares really are unbelievable. Write to statravelAU@gmail.com or statravelpo@hotmail.com. They have amazing prices', 'I should have paid more attention when we covered photoshop in my webpage design class in undergrad. Contact me Hollywoodheat34@msn.net.','hey missed ya at the meeting. Read your email! msdrama098@hotmail.com']

# Write a regex that matches email
regex_email = r"([A-Za-z0-9]+)@\S+"

for tweet in sentiment_analysis:
    # Find all matches of regex in each tweet
    email_matched = re.findall(regex_email, tweet)

    # Complete the format method to print the results
    print("Lists of users found in this tweet: {}".format(email_matched))

Lists of users found in this tweet: ['statravelAU', 'statravelpo']
Lists of users found in this tweet: ['Hollywoodheat34']
Lists of users found in this tweet: ['msdrama098']

In [68]:
#
for i in sentiment_analysis:
    print(re.findall( r"([\w+]+)@\S+", i))

['statravelAU', 'statravelpo']
['Hollywoodheat34']
['msdrama098']

### Flying home

In [80]:
# Import re
import re

In [83]:
flight='Subject: You are now ready to fly. Here you have your boarding pass IB3723 AMS-MAD 06OCT'
regex = r"([A-Z]{2})(\d{4})\s([A-Z]{3})-([A-Z]{3})\s(\d{2}[A-Z]{3})"

In [84]:
# Import re
import re

# Write regex to capture information of the flight
regex = r"([A-Z]{2})(\d{4})\s([A-Z]{3})-([A-Z]{3})\s(\d{2}[A-Z]{3})"

# Find all matches of the flight information
flight_matches = re.findall(regex,flight)

In [87]:
# Import re
import re

# Write regex to capture information of the flight
regex = r"([A-Z]{2})(\d{4})\s([A-Z]{3})-([A-Z]{3})\s(\d{2}[A-Z]{3})"

# Find all matches of the flight information
flight_matches = re.findall(regex, flight)
    
#Print the matches
print("Airline: {} Flight number: {}".format(flight_matches[0][0], flight_matches[0][1]))
print("Departure: {} Destination: {}".format(flight_matches[0][2], flight_matches[0][3]))
print("Date: {}".format(flight_matches[0][4]))

Airline: IB Flight number: 3723
Departure: AMS Destination: MAD
Date: 06OCT