# Dealing with Missing Data in Python

In [1]:
#import packages
import numpy as np

## NULL value operations

### None

In [5]:
None or True

True

In [6]:
None or False

False

In [7]:
None + True

TypeError: unsupported operand type(s) for +: 'NoneType' and 'bool'

In [8]:
None+3

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [13]:
type(None)

NoneType

In [15]:
None == None

True

### np.Nan

In [10]:
np.nan or True

nan

In [11]:
np.nan * True

nan

In [12]:
np.nan * 10

nan

In [14]:
type(np.nan)

float

In [16]:
np.nan == np.nan

False

## Exercise

### Null value operations

In [17]:
try:
  # Print the sum of two None's
  print("Add operation output of 'None': ", None + None)

except TypeError:
  # Print if error
  print("'None' does not support Arithmetic Operations!!")

'None' does not support Arithmetic Operations!!

In [18]:
try:
  # Print the sum of two np.nan's
  print("Add operation output of 'np.nan': ", np.nan+np.nan)

except TypeError:
  # Print if error
  print("'np.nan' does not support Arithmetic Operations!!")

Add operation output of 'np.nan':  nan

In [19]:
try:
  # Print the output of logical OR of two None's
  print("OR operation output of 'None': ", None or None)

except TypeError:
  # Print if error
  print("'None' does not support Logical Operations!!")

OR operation output of 'None':  None

In [20]:
try:
  # Print the output of logical OR of two np.nan's
  print("OR operation output of 'np.nan': ", np.nan or np.nan)

except TypeError:
  # Print if error
  print("'np.nan' does not support Logical Operations!!")

OR operation output of 'np.nan':  nan

### Finding Null values

In [21]:
try:
  # Print the comparison of two 'None's
  print("'None' comparison output: ", None==None)

except TypeError:
  # Print if error
  print("'None' does not support this operation!!")

'None' comparison output:  True

In [22]:
try:
  # Print the comparison of two 'np.nan's
  print("'np.nan' comparison output: ", np.nan == np.nan)

except TypeError:
  # Print if error  
  print("'np.nan' does not support this operation!!")

'np.nan' comparison output:  False

In [24]:
try:
  # Check if 'None' is 'NaN'
  print("Is 'None' same as nan? ", np.isnan(None))

except TypeError:
  # Print if error
  print("Function 'np.isnan()' does not support this Type!!")

Function 'np.isnan()' does not support this Type!!

In [25]:
try:
  # Check if 'np.nan' is 'NaN'
  print("Is 'np.nan' same as nan? ", np.isnan(np.nan))

except TypeError:
  # Print if error
  print("Function 'np.isnan()' does not support this Type!!")

Is 'np.nan' same as nan?  True