# Handling missing values

In [78]:
#import packages
import numpy as np
import pandas as pd

In [61]:
college = pd.read_csv('col.csv')
college.head()

   id gradrat            lenroll rmbrd  private stufac    csat   act
0   0    59.0       5.1761497326  3.75      1.0   10.8       .  21.0
1   1    52.0       4.7791234931  3.74      1.0   17.7       .  21.0
2   2    75.0  6.122492809500001     .      1.0   11.4  1052.0  24.0
3   3    56.0       5.3181199938   4.1      1.0   11.6   940.0  23.0
4   4    71.0  5.631211781799999     .      1.0   18.3       .  17.0

In [62]:
college.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       200 non-null    int64
 1   gradrat  200 non-null    object
 2   lenroll  200 non-null    object
 3   rmbrd    200 non-null    object
 4   private  200 non-null    float64
 5   stufac   200 non-null    object
 6   csat     200 non-null    object
 7   act      200 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 12.6+ KB

In [67]:
cast_unique= college.csat.unique()
cast_unique

array(['.', '1052.0', '940.0', '1039.0', '992.0', '1270.0', '1044.0',
       '1024.0', '1139.0', '885.0', '895.0', '943.0', '1028.0', '1120.0',
       '1036.0', '1013.0', '1006.0', '1040.0', '902.0', '919.0', '937.0',
       '813.0', '996.0', '816.0', '802.0', '950.0', '867.0', '863.0',
       '998.0', '890.0', '1210.0', '860.0', '917.0', '814.0', '1026.0',
       '1092.0', '911.0', '1220.0', '825.0', '843.0', '989.0', '979.0',
       '1109.0', '1096.0', '830.0', '964.0', '1060.0', '997.0', '947.0',
       '1050.0', '1324.0', '1000.0', '1150.0', '1200.0', '810.0', '980.0',
       '1020.0', '782.0', '800.0', '846.0', '951.0', '1381.0', '923.0',
       '891.0', '897.0', '880.0', '832.0', '764.0', '881.0', '905.0',
       '900.0', '1010.0', '854.0', '1230.0', '837.0', '1080.0', '853.0',
       '1111.0', '1171.0', '850.0', '741.0', '970.0', '763.0', '994.0',
       '1292.0', '1070.0', '871.0', '1045.0'], dtype=object)

In [70]:
college=pd.read_csv("col.csv" , na_values='.' )
college.head()

   id  gradrat   lenroll  rmbrd  private  stufac    csat   act
0   0     59.0  5.176150   3.75      1.0    10.8     NaN  21.0
1   1     52.0  4.779123   3.74      1.0    17.7     NaN  21.0
2   2     75.0  6.122493    NaN      1.0    11.4  1052.0  24.0
3   3     56.0  5.318120   4.10      1.0    11.6   940.0  23.0
4   4     71.0  5.631212    NaN      1.0    18.3     NaN  17.0

In [71]:
college.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       200 non-null    int64
 1   gradrat  187 non-null    float64
 2   lenroll  199 non-null    float64
 3   rmbrd    114 non-null    float64
 4   private  200 non-null    float64
 5   stufac   199 non-null    float64
 6   csat     105 non-null    float64
 7   act      104 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 12.6 KB

## Pima Indian Diabetes datasets

In [73]:
diabetes = pd.read_csv("../datasets/pima-indians-diabetes data.csv")
diabetes.head()

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6.0,148.0,72.0,35.0,NaN,33.6,0.627,50,1.0
1,1.0,85.0,66.0,29.0,NaN,26.6,0.351,31,0.0
2,8.0,183.0,64.0,NaN,NaN,23.3,0.672,32,1.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21,0.0
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33,1.0

In [74]:
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Pregnant           768 non-null    float64
 1   Glucose            763 non-null    float64
 2   Diastolic_BP       733 non-null    float64
 3   Skin_Fold          541 non-null    float64
 4   Serum_Insulin      394 non-null    float64
 5   BMI                757 non-null    float64
 6   Diabetes_Pedigree  768 non-null    float64
 7   Age                768 non-null    int64
 8   Class              768 non-null    float64
dtypes: float64(8), int64(1)
memory usage: 54.1 KB

In [75]:
diabetes.describe()

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
count,768.000000,763.000000,733.000000,541.000000,394.000000,757.000000,768.000000,768.000000,768.000000
mean,3.845052,121.686763,72.405184,29.153420,155.548223,32.457464,0.471876,33.240885,0.348958
std,3.369578,30.535641,12.382158,10.476982,118.775855,6.924988,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,64.000000,22.000000,76.250000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,29.000000,125.000000,32.300000,0.372500,29.000000,0.000000
75%,6.000000,141.000000,80.000000,36.000000,190.000000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [76]:
diabetes[diabetes.BMI == 0 ]

Empty DataFrame
Columns: [Pregnant, Glucose, Diastolic_BP, Skin_Fold, Serum_Insulin, BMI, Diabetes_Pedigree, Age, Class]
Index: []

In [79]:
diabetes.BMI[diabetes.BMI == 0] = np.nan
diabetes.BMI[np.isnan(diabetes.BMI)]

C:\Users\DELL\AppData\Local\Temp\ipykernel_4640\4023536530.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diabetes.BMI[diabetes.BMI == 0] = np.nan

9     NaN
49    NaN
60    NaN
81    NaN
145   NaN
371   NaN
426   NaN
494   NaN
522   NaN
684   NaN
706   NaN
Name: BMI, dtype: float64

## Exercise

### Detecting missing values

In [80]:
# Read the dataset 'college.csv'
college = pd.read_csv("college.csv")
print(college.head())

   id gradrat            lenroll rmbrd  private stufac    csat   act
0   0    59.0       5.1761497326  3.75      1.0   10.8       .  21.0
1   1    52.0       4.7791234931  3.74      1.0   17.7       .  21.0
2   2    75.0  6.122492809500001     .      1.0   11.4  1052.0  24.0
3   3    56.0       5.3181199938   4.1      1.0   11.6   940.0  23.0
4   4    71.0  5.631211781799999     .      1.0   18.3       .  17.0

In [83]:
# Read the dataset 'college.csv'
college = pd.read_csv('college.csv')
print(college.head())

# Print the info of college
print(college.info())

   id gradrat            lenroll rmbrd  private stufac    csat   act
0   0    59.0       5.1761497326  3.75      1.0   10.8       .  21.0
1   1    52.0       4.7791234931  3.74      1.0   17.7       .  21.0
2   2    75.0  6.122492809500001     .      1.0   11.4  1052.0  24.0
3   3    56.0       5.3181199938   4.1      1.0   11.6   940.0  23.0
4   4    71.0  5.631211781799999     .      1.0   18.3       .  17.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       200 non-null    int64
 1   gradrat  200 non-null    object
 2   lenroll  200 non-null    object
 3   rmbrd    200 non-null    object
 4   private  200 non-null    float64
 5   stufac   200 non-null    object
 6   csat     200 non-null    object
 7   act      200 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 12.6+ KB
None

In [85]:
# Read the dataset 'college.csv'
college = pd.read_csv('college.csv')
print(college.head())

# Print the 'info' of 'college'
print(college.info())

# Store unique values of 'csat' column to 'csat_unique'
csat_unique = college.csat.unique()

   id gradrat            lenroll rmbrd  private stufac    csat   act
0   0    59.0       5.1761497326  3.75      1.0   10.8       .  21.0
1   1    52.0       4.7791234931  3.74      1.0   17.7       .  21.0
2   2    75.0  6.122492809500001     .      1.0   11.4  1052.0  24.0
3   3    56.0       5.3181199938   4.1      1.0   11.6   940.0  23.0
4   4    71.0  5.631211781799999     .      1.0   18.3       .  17.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       200 non-null    int64
 1   gradrat  200 non-null    object
 2   lenroll  200 non-null    object
 3   rmbrd    200 non-null    object
 4   private  200 non-null    float64
 5   stufac   200 non-null    object
 6   csat     200 non-null    object
 7   act      200 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 12.6+ KB
None

In [86]:
# Read the dataset 'college.csv'
college = pd.read_csv('college.csv')
print(college.head())

# Print the info of college
print(college.info())

# Store unique values of 'csat' column to 'csat_unique'
csat_unique = college.csat.unique()

# Print the sorted values of csat_unique
print(np.sort(csat_unique))

   id gradrat            lenroll rmbrd  private stufac    csat   act
0   0    59.0       5.1761497326  3.75      1.0   10.8       .  21.0
1   1    52.0       4.7791234931  3.74      1.0   17.7       .  21.0
2   2    75.0  6.122492809500001     .      1.0   11.4  1052.0  24.0
3   3    56.0       5.3181199938   4.1      1.0   11.6   940.0  23.0
4   4    71.0  5.631211781799999     .      1.0   18.3       .  17.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       200 non-null    int64
 1   gradrat  200 non-null    object
 2   lenroll  200 non-null    object
 3   rmbrd    200 non-null    object
 4   private  200 non-null    float64
 5   stufac   200 non-null    object
 6   csat     200 non-null    object
 7   act      200 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 12.6+ KB
None
['.' '1000.0' '1006.0' '1010.0' '1013.0' '1020.0' '1024.0' '1026.0'
 '1028.0' '1036.0' '1039.0' '1040.0' '1044.0' '1045.0' '1050.0' '1052.0'
 '1060.0' '1070.0' '1080.0' '1092.0' '1096.0' '1109.0' '1111.0' '1120.0'
 '1139.0' '1150.0' '1171.0' '1200.0' '1210.0' '1220.0' '1230.0' '1270.0'
 '1292.0' '1324.0' '1381.0' '741.0' '763.0' '764.0' '782.0' '800.0'
 '802.0' '810.0' '813.0' '814.0' '816.0' '825.0' '830.0' '832.0' '837.0'
 '843.0' '846.0' '850.0' '853.0' '854.0' '860.0' '863.0' '867.0' '871.0'
 '880.0' '881.0' '885.0' '890.0' '891.0' '895.0' '897.0' '900.0' '902.0'
 '905.0' '911.0' '917.0' '919.0' '923.0' '937.0' '940.0' '943.0' '947.0'
 '950.0' '951.0' '964.0' '970.0' '979.0' '980.0' '989.0' '992.0' '994.0'
 '996.0' '997.0' '998.0']

## Replacing missing values

In [87]:
# Read the dataset 'college.csv' with na_values set to '.'
college = pd.read_csv( 'college.csv', na_values='.')
print(college.head())

   id  gradrat   lenroll  rmbrd  private  stufac    csat   act
0   0     59.0  5.176150   3.75      1.0    10.8     NaN  21.0
1   1     52.0  4.779123   3.74      1.0    17.7     NaN  21.0
2   2     75.0  6.122493    NaN      1.0    11.4  1052.0  24.0
3   3     56.0  5.318120   4.10      1.0    11.6   940.0  23.0
4   4     71.0  5.631212    NaN      1.0    18.3     NaN  17.0

In [88]:
# Read the dataset 'college.csv' with na_values set to '.'
college = pd.read_csv('college.csv', na_values='.')
print(college.head())

# Print the info of college
print(college.info())

   id  gradrat   lenroll  rmbrd  private  stufac    csat   act
0   0     59.0  5.176150   3.75      1.0    10.8     NaN  21.0
1   1     52.0  4.779123   3.74      1.0    17.7     NaN  21.0
2   2     75.0  6.122493    NaN      1.0    11.4  1052.0  24.0
3   3     56.0  5.318120   4.10      1.0    11.6   940.0  23.0
4   4     71.0  5.631212    NaN      1.0    18.3     NaN  17.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       200 non-null    int64
 1   gradrat  187 non-null    float64
 2   lenroll  199 non-null    float64
 3   rmbrd    114 non-null    float64
 4   private  200 non-null    float64
 5   stufac   199 non-null    float64
 6   csat     105 non-null    float64
 7   act      104 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 12.6 KB
None

## Replacing hidden missing values

In [89]:
# Print the description of the data
print(diabetes.describe())

         Pregnant     Glucose  Diastolic_BP   Skin_Fold  Serum_Insulin  \
count  768.000000  763.000000    733.000000  541.000000     394.000000
mean     3.845052  121.686763     72.405184   29.153420     155.548223
std      3.369578   30.535641     12.382158   10.476982     118.775855
min      0.000000   44.000000     24.000000    7.000000      14.000000
25%      1.000000   99.000000     64.000000   22.000000      76.250000
50%      3.000000  117.000000     72.000000   29.000000     125.000000
75%      6.000000  141.000000     80.000000   36.000000     190.000000
max     17.000000  199.000000    122.000000   99.000000     846.000000

              BMI  Diabetes_Pedigree         Age       Class
count  757.000000         768.000000  768.000000  768.000000
mean    32.457464           0.471876   33.240885    0.348958
std      6.924988           0.331329   11.760232    0.476951
min     18.200000           0.078000   21.000000    0.000000
25%     27.500000           0.243750   24.000000    0.000000
50%     32.300000           0.372500   29.000000    0.000000
75%     36.600000           0.626250   41.000000    1.000000
max     67.100000           2.420000   81.000000    1.000000

In [90]:
# Print the description of the data
print(diabetes.describe())

# Store all rows of column 'BMI' which are equal to 0 
print(diabetes.BMI[diabetes.BMI == 0])

         Pregnant     Glucose  Diastolic_BP   Skin_Fold  Serum_Insulin  \
count  768.000000  763.000000    733.000000  541.000000     394.000000
mean     3.845052  121.686763     72.405184   29.153420     155.548223
std      3.369578   30.535641     12.382158   10.476982     118.775855
min      0.000000   44.000000     24.000000    7.000000      14.000000
25%      1.000000   99.000000     64.000000   22.000000      76.250000
50%      3.000000  117.000000     72.000000   29.000000     125.000000
75%      6.000000  141.000000     80.000000   36.000000     190.000000
max     17.000000  199.000000    122.000000   99.000000     846.000000

              BMI  Diabetes_Pedigree         Age       Class
count  757.000000         768.000000  768.000000  768.000000
mean    32.457464           0.471876   33.240885    0.348958
std      6.924988           0.331329   11.760232    0.476951
min     18.200000           0.078000   21.000000    0.000000
25%     27.500000           0.243750   24.000000    0.000000
50%     32.300000           0.372500   29.000000    0.000000
75%     36.600000           0.626250   41.000000    1.000000
max     67.100000           2.420000   81.000000    1.000000
Series([], Name: BMI, dtype: float64)

In [91]:
# Print the description of the data
print(diabetes.describe())

# Print all rows of column 'BMI' which are equal to 0 
print(diabetes.BMI[diabetes.BMI == 0])

# Set the 0 values of column 'BMI' to np.nan
diabetes.BMI[diabetes.BMI == 0] = np.nan

         Pregnant     Glucose  Diastolic_BP   Skin_Fold  Serum_Insulin  \
count  768.000000  763.000000    733.000000  541.000000     394.000000
mean     3.845052  121.686763     72.405184   29.153420     155.548223
std      3.369578   30.535641     12.382158   10.476982     118.775855
min      0.000000   44.000000     24.000000    7.000000      14.000000
25%      1.000000   99.000000     64.000000   22.000000      76.250000
50%      3.000000  117.000000     72.000000   29.000000     125.000000
75%      6.000000  141.000000     80.000000   36.000000     190.000000
max     17.000000  199.000000    122.000000   99.000000     846.000000

              BMI  Diabetes_Pedigree         Age       Class
count  757.000000         768.000000  768.000000  768.000000
mean    32.457464           0.471876   33.240885    0.348958
std      6.924988           0.331329   11.760232    0.476951
min     18.200000           0.078000   21.000000    0.000000
25%     27.500000           0.243750   24.000000    0.000000
50%     32.300000           0.372500   29.000000    0.000000
75%     36.600000           0.626250   41.000000    1.000000
max     67.100000           2.420000   81.000000    1.000000
Series([], Name: BMI, dtype: float64)

C:\Users\DELL\AppData\Local\Temp\ipykernel_4640\3884953930.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diabetes.BMI[diabetes.BMI == 0] = np.nan

In [92]:
# Print the description of the data
print(diabetes.describe())

# Store all rows of column 'BMI' which are equal to 0 
print(diabetes.BMI[diabetes.BMI == 0])

# Set the 0 values of column 'BMI' to np.nan
diabetes.BMI[diabetes.BMI == 0] = np.nan

# Print the 'NaN' values in the column BMI
print(diabetes.BMI[np.isnan(diabetes.BMI)])

         Pregnant     Glucose  Diastolic_BP   Skin_Fold  Serum_Insulin  \
count  768.000000  763.000000    733.000000  541.000000     394.000000
mean     3.845052  121.686763     72.405184   29.153420     155.548223
std      3.369578   30.535641     12.382158   10.476982     118.775855
min      0.000000   44.000000     24.000000    7.000000      14.000000
25%      1.000000   99.000000     64.000000   22.000000      76.250000
50%      3.000000  117.000000     72.000000   29.000000     125.000000
75%      6.000000  141.000000     80.000000   36.000000     190.000000
max     17.000000  199.000000    122.000000   99.000000     846.000000

              BMI  Diabetes_Pedigree         Age       Class
count  757.000000         768.000000  768.000000  768.000000
mean    32.457464           0.471876   33.240885    0.348958
std      6.924988           0.331329   11.760232    0.476951
min     18.200000           0.078000   21.000000    0.000000
25%     27.500000           0.243750   24.000000    0.000000
50%     32.300000           0.372500   29.000000    0.000000
75%     36.600000           0.626250   41.000000    1.000000
max     67.100000           2.420000   81.000000    1.000000
Series([], Name: BMI, dtype: float64)
9     NaN
49    NaN
60    NaN
81    NaN
145   NaN
371   NaN
426   NaN
494   NaN
522   NaN
684   NaN
706   NaN
Name: BMI, dtype: float64

C:\Users\DELL\AppData\Local\Temp\ipykernel_4640\3316518688.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diabetes.BMI[diabetes.BMI == 0] = np.nan