# Turning dates into strings

In [1]:
# Import date
from datetime import date
from datetime import timedelta

In [2]:
from datetime import date
# Example date
d = date(2017, 11, 5)
# ISO format: YYYY-MM-DD
print(d)

2017-11-05

In [3]:
print( [d.isoformat()] )

['2017-11-05']

In [4]:
# A few dates that computers once had trouble with
some_dates = ['2000-01-01','1999-12-31']
# Print them in order
print(sorted(some_dates))

['1999-12-31', '2000-01-01']

In [6]:
print(d.strftime("%Y/%m/%d"))

2017/11/05

In [7]:
print(d.strftime("%Y/%m"))

2017/11

## Exercise

### Printing dates in a friendly format

In [ ]:
# Assign the earliest date to first_date
first_date = min(florida_hurricane_dates)

# Convert to ISO and US formats
iso = "Our earliest hurricane date: " + first_date.isoformat()
us = "Our earliest hurricane date: " + first_date.strftime("%m/%d/%Y")

print("ISO: " + iso)
print("US: " + us)

### Representing dates in different ways

In [8]:
# Import date
from datetime import date

# Create a date object
andrew = date(1992, 8, 26)

# Print the date in the format 'YYYY-MM'
print(andrew.strftime('%Y-%m'))

1992-08

In [9]:
# Import date
from datetime import date

# Create a date object
andrew = date(1992, 8, 26)

# Print the date in the format 'MONTH (YYYY)'
print(andrew.strftime('%B (%Y)'))

August (1992)

In [10]:
# Import date
from datetime import date

# Create a date object
andrew = date(1992, 8, 26)

# Print the date in the format 'YYYY-DDD'
print(andrew.strftime('%Y-%j'))

1992-239