In [13]:
from sklearn.preprocessing import OrdinalEncoder
import numpy as np
import pandas as pd

In [14]:
c=['A','B','B','B','A','C']

In [10]:
ored=OrdinalEncoder()

In [15]:
df=pd.DataFrame()

In [16]:
df['c']=c
df

   c
0  A
1  B
2  B
3  B
4  A
5  C

In [26]:
df['cc']=ored.fit_transform(df['c'].values.reshape(-1,1))

In [22]:
d=['red','green','green','black','green','red']

In [23]:
df['d']=d

In [28]:
df

   c      d   cc
0  A    red  0.0
1  B  green  1.0
2  B  green  1.0
3  B  black  1.0
4  A  green  0.0
5  C    red  2.0

In [32]:
df['dd'] = ored.fit_transform(df['d'].values.reshape(-1,1))

In [33]:
df

   c      d   cc   dd
0  A    red  0.0  2.0
1  B  green  1.0  1.0
2  B  green  1.0  1.0
3  B  black  1.0  0.0
4  A  green  0.0  1.0
5  C    red  2.0  2.0

In [34]:
##########################

In [35]:
enc = OrdinalEncoder()
X = [['Male', 1], ['Female', 3], ['Female', 2]]
X

[['Male', 1], ['Female', 3], ['Female', 2]]

In [36]:
enc.fit(X)

enc.categories_

enc.transform([['Female', 3], ['Male', 1]])

array([[0., 2.],
       [1., 0.]])

In [37]:
##########################

In [39]:
X = [['Male', 1], ['Female', 3], ['Female', np.nan]]
X

[['Male', 1], ['Female', 3], ['Female', nan]]

In [40]:
enc.fit_transform(X)

array([[ 1.,  0.],
       [ 0.,  1.],
       [ 0., nan]])

In [41]:
#####################