# Building with built-ins

In [76]:
#import
import numpy as np

Built-in types:
    list , tuple , set , dict , and others
    
Built-in functions:
    print() , len() , range() , round() , enumerate() , map() , zip() , and others
    
Built-in modules:
    os , sys , itertools , collections , math , and others

### Built-in function: range()

In [77]:
nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

 Using range() to create the same list

In [78]:
# range(start,stop)
nums = range(0,11)
nums_list = list(nums)

print(nums_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [79]:
# range(stop)
nums = range(11)
nums_list = list(nums)
print(nums_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


Using range() with a step value

In [80]:
even_nums = range(2, 11, 2)
even_nums_list = list(even_nums)
print(even_nums_list)

[2, 4, 6, 8, 10]

### Built-in function: enumerate()

Creates an indexed list of objects

In [81]:
letters = ['a','b','c','d' ]

indexed_letters = enumerate(letters)

indexed_letters_list = list(indexed_letters)

print(indexed_letters_list)

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [82]:
# An other way
ind_let_list=list(enumerate(letters))
ind_let_list

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

Can specify a start value

In [83]:
letters = ['a','b','c','d' ]

indexed_letters = enumerate(letters ,start=5)

indexed_letters_list = list(indexed_letters)

print(indexed_letters_list)

[(5, 'a'), (6, 'b'), (7, 'c'), (8, 'd')]

In [84]:
# An other way
ind_let_list=list(enumerate(letters,start=10))
ind_let_list

[(10, 'a'), (11, 'b'), (12, 'c'), (13, 'd')]

### Built-in function: map()

In [85]:
nums = [1.5, 2.3, 3.4, 4.6, 5.0]
rnd_nums = map(round, nums)
print(list(rnd_nums))

[2, 2, 3, 5, 5]

In [86]:
#ex
n=[1.2,1.9,4.6,6]
int_n=map(int ,n)
print(list(int_n))

[1, 1, 4, 6]

In [87]:
#ex
name=['Ali','Karam','Saeed','Abd']
len_name=map(len , name)
print(list(len_name))

[3, 5, 5, 3]

In [88]:
#ex
name=['Ali','Karam','Saeed','Abd']
upper_name=map(str.upper,name)
print(list(upper_name))

['ALI', 'KARAM', 'SAEED', 'ABD']

In [89]:
#ex
name=['Ali','Karam','Saeed','Abd']
swap_name=map(str.swapcase,name)
print(list(swap_name))

['aLI', 'kARAM', 'sAEED', 'aBD']

map() with lambda (anonymous function)

In [90]:
nums = [1, 2, 3, 4, 5]

sqrd_nums = map(lambda x: x ** 2, nums)
print(list(sqrd_nums))

[1, 4, 9, 16, 25]

In [93]:
#ex
nums = [1, 2, 3, 4, 5]

blus_10_nums = map(lambda i: i+10,nums)
print(list(blus_10_nums))

[11, 12, 13, 14, 15]

In [101]:
#ex
nums = [4,16,36,90]

sqrt_nums = map(lambda i: int(np.sqrt(i)),nums)

print(list(sqrt_nums))

[2, 4, 6, 9]

## Exercise

### Built-in practice: range()

In [106]:
# Create a range object that goes from 0 to 5
nums = range(0,6)
print(type(nums))

# Convert nums to a list
nums_list = list(nums)
print(nums_list)

# Create a new list of odd numbers from 1 to 11 by unpacking a range object
nums_list2 = [*range(1, 12, 2)]
print(nums_list2)

<class 'range'>
[0, 1, 2, 3, 4, 5]
[1, 3, 5, 7, 9, 11]

### Built-in practice: enumerate()

In [112]:
names = ['Jerry', 'Kramer', 'Elaine', 'George', 'Newman']
# Rewrite the for loop to use enumerate
indexed_names = []
for i,name in enumerate(names):
    index_name = (i,name)
    indexed_names.append(index_name) 
print(indexed_names)

# Rewrite the above for loop using list comprehension
indexed_names_comp = [(i,name) for i,name in enumerate(names)]
print(indexed_names_comp)

# Unpack an enumerate object with a starting index of one
indexed_names_unpack = [*enumerate(names, 1)]
print(indexed_names_unpack)

[(0, 'Jerry'), (1, 'Kramer'), (2, 'Elaine'), (3, 'George'), (4, 'Newman')]
[(0, 'Jerry'), (1, 'Kramer'), (2, 'Elaine'), (3, 'George'), (4, 'Newman')]
[(1, 'Jerry'), (2, 'Kramer'), (3, 'Elaine'), (4, 'George'), (5, 'Newman')]

### Built-in practice: map()

In [113]:
names = ['Jerry', 'Kramer', 'Elaine', 'George', 'Newman']
# Use map to apply str.upper to each element in names
names_map  = map(str.upper, names)

# Print the type of the names_map
print(type(names_map))

# Unpack names_map into a list
names_uppercase = [*names_map]

# Print the list created above
print(names_uppercase)

<class 'map'>
['JERRY', 'KRAMER', 'ELAINE', 'GEORGE', 'NEWMAN']